idf_component_register(
    SRCS "src/webadmin.cpp"
    INCLUDE_DIRS "src/"
    REQUIRES emod_controller
)

{%- for file in files %}
target_add_binary_data(${COMPONENT_LIB} "{{ file["relpath"] }}" BINARY)
{%- endfor %}
