#include "webadmin.hpp"

#include "HAL.hpp"
#include "HTTPServer.hpp"

#ifdef __cplusplus
extern "C" {
#endif

#include "esp_log.h"

#ifdef __cplusplus
}
#endif

static const char* TAG = "webadmin";

{%- for file in files %}
{%- set file_name = "_" + file["name"].replace(".", "_").replace("-", "_") %}
{%- set file_start = file_name + "_start" %}
{%- set file_end = file_name + "_end" %}
{%- set file_mime_type = file["mime_type"] %}
{%- set file_encoding = file["encoding"] %}

extern const uint8_t {{ file_start }}[] asm("_binary{{ file_start }}");
extern const uint8_t {{ file_end }}[] asm("_binary{{ file_end }}");

static void {{ file_name }}_get_handler(HTTPRequest& req, void* ctx) {
	(void)ctx;
	req.setResponseContentType("{{ file_mime_type }}");
	{%- if file_encoding %}
	req.setResponseHeader("Content-Encoding", "{{ file_encoding }}");
	{%- endif %}
	req.sendResponse((const char*){{ file_start }}, ({{ file_end }} - {{ file_start }}));
}
{%- endfor %}

esp_err_t setupWebadmin(void) {
	esp_err_t err;

	HTTPServer& http_server = HAL::getHTTPServer();
	err = http_server.init();
	if (err != ESP_OK) {
		ESP_LOGE(TAG, "Error initializing http server: %s", esp_err_to_name(err));
		return ESP_FAIL;
	}

{% for file in files %}
{%- set file_name = "_" + file["name"].replace(".", "_").replace("-", "_") %}
{%- set file_uri = file["uri"] %}
{%- if file_uri == "index.html" %}
	err = http_server.registerHandler(HTTP_SERVER_METHOD_GET, "/", {{ file_name }}_get_handler, nullptr);
	if (err != ESP_OK) {
		ESP_LOGE(TAG, "Error registering {{ file["name"] }} http handler: %s", esp_err_to_name(err));
		return ESP_FAIL;
	}
{% endif %}
	err = http_server.registerHandler(HTTP_SERVER_METHOD_GET, "/{{ file_uri }}", {{ file_name }}_get_handler, nullptr);
	if (err != ESP_OK) {
		ESP_LOGE(TAG, "Error registering {{ file["name"] }} http handler: %s", esp_err_to_name(err));
		return ESP_FAIL;
	}
{% endfor %}

	return ESP_OK;
}
